<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sonata.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sonata.Settings>
            <setting name="KeepProgramsAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuTitle" serializeAs="String">
                <value>Sonata</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchMode" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomePageUrl" serializeAs="String">
                <value>https://sonata.codeplex.com</value>
            </setting>
            <setting name="SupportUrl" serializeAs="String">
                <value>https://sonata.codeplex.com/workitem/list/basic</value>
            </setting>
            <setting name="HelpUrlOrFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadsUrl" serializeAs="String">
                <value>https://sonata.codeplex.com/releases</value>
            </setting>
            <setting name="ShowUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EnableApplicationHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationHelpText" serializeAs="String">
                <value>Sonata Help</value>
            </setting>
            <setting name="HomePageText" serializeAs="String">
                <value>Sonata Web Site</value>
            </setting>
            <setting name="EnableHomePage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SupportText" serializeAs="String">
                <value>Get Support On-Line</value>
            </setting>
        </Sonata.Settings>
    </userSettings>
</configuration>
